body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#Layer1
{
   background-color: #F8F9FA;
   background-image: none;
   border-radius: 0px;
}
#wb_Image1
{
   vertical-align: top;
}
#Image1
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_CssMenu1
{
   border: 0px solid #C0C0C0;
   border-radius: 0px;
   background-color: transparent;
   margin: 0;
   text-align: left;
}
#wb_CssMenu1 ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
}
#wb_CssMenu1 li
{
   float: left;
   margin: 0;
   padding: 0px 0px 0px 0px;
   width: 100%;
}
#wb_CssMenu1 a
{
   display: block;
   float: left;
   color: #000000;
   border: 1px solid #0D6EFD;
   border-radius: 0px;
   background-color: #AFEEEE;
   background-image: none;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   text-decoration: none;
   text-transform: none;
   text-align: center;
   vertical-align: middle;
}
#wb_CssMenu1 > ul > li > a
{
   width: calc(100% - 4px);
   box-sizing: border-box;
   height: 28px;
   padding: 0 5px 0px 5px;
   line-height: 26px;
}
#wb_CssMenu1 li:hover a, #wb_CssMenu1 a:hover
{
   color: #FFFFFF;
   border: 1px solid #0A58CA;
   background-color: #0B5ED7;
   background-image: none;
}
#wb_CssMenu1 li.firstmain
{
   padding-left: 0px;
}
#wb_CssMenu1 li.lastmain
{
   padding-right: 0px;
}
#wb_CssMenu1 br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
#wb_Image2
{
   vertical-align: top;
}
#Image2
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image3
{
   vertical-align: top;
}
#Image3
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#HorizontalLine1
{
   border-color: #707070;
   border-style: solid;
   border-bottom-width: 10px;
   border-top: 0;
   border-left: 0;
   border-right: 0;
   height: 0 !important;
   line-height: 0 !important;
   margin: 0;
   padding: 0;
}
#wb_Image4
{
   vertical-align: top;
}
#Image4
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text1 div
{
   text-align: left;
}
@media only screen and (min-width: 1000px)
{
body
{
   background-color: #FFFFFF;
   background-image: none;
}
#BuildWith1
{
   left: 441px !important;
   top: 967px !important;
   width: 88px !important;
   height: 31px !important;
   visibility: visible !important;
   display: inline !important;
}
#Layer1
{
   visibility: visible !important;
   display: block !important;
}
#Layer1_Container
{
   width: 1000px !important;
   height:660px !important;
}
#wb_Image1
{
   left: 0px !important;
   top: 0px !important;
   width: 61px !important;
   height: 61px !important;
   visibility: visible !important;
   display: inline !important;
   margin: 0;
   padding: 0;
}
#wb_CssMenu1
{
   left: 730px !important;
   top: 20px !important;
   visibility: visible !important;
   display: block !important;
   margin: 0;
   text-align: left;
}
#wb_CssMenu1 li
{
   width: 100%;
}
#wb_CssMenu1 a
{
   color: #000000;
   border: 1px solid #0D6EFD;
   border-radius: 0px;
   background-color: #AFEEEE;
   background-image: none;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   text-decoration: none;
   text-transform: none;
   text-align: center;
}
#wb_CssMenu1 > ul > li > a
{
   width: calc(100% - 4px);
   box-sizing: border-box;
   height: 28px;
   padding: 0 5px 0px 5px;
   line-height: 26px;
}
#wb_CssMenu1 li:hover a, #wb_CssMenu1 a:hover
{
   color: #FFFFFF;
   border: 1px solid #0A58CA;
   background-color: #0B5ED7;
   background-image: none;
}
#wb_CssMenu1 li
{
   padding: 0px 0px 0px 0px;
}
#wb_Image2
{
   left: 27px !important;
   top: 93px !important;
   width: 34px !important;
   height: 32px !important;
   visibility: visible !important;
   display: inline !important;
   margin: 0;
   padding: 0;
}
#wb_Image3
{
   left: 872px !important;
   top: 13px !important;
   width: 34px !important;
   height: 34px !important;
   visibility: visible !important;
   display: inline !important;
   margin: 0;
   padding: 0;
}
#HorizontalLine1
{
   left: 0px !important;
   top: 61px !important;
   width: 1260px !important;
   height: 10px !important;
   visibility: visible !important;
   display: inline !important;
   margin: 0;
}
#HorizontalLine1
{
   border-color: #707070;
   border-bottom-width: 10px;
}
#wb_Image4
{
   left: 480px !important;
   top: 196px !important;
   width: 100px !important;
   height: 100px !important;
   visibility: visible !important;
   display: inline !important;
   margin: 0;
   padding: 0;
}
#wb_Text1
{
   left: 470px !important;
   top: 330px !important;
   width: 120px !important;
   height: 18px !important;
   visibility: visible !important;
   display: inline !important;
}
#wb_Text1
{
   margin: 0;
   padding: 0;
}
}
@media only screen and (min-width: 900px) and (max-width: 999px)
{
body
{
   background-color: #FFFFFF;
   background-image: none;
}
#BuildWith1
{
   left: 441px !important;
   top: 967px !important;
   width: 88px !important;
   height: 31px !important;
   visibility: visible !important;
   display: inline !important;
}
#Layer1
{
   visibility: visible !important;
   display: block !important;
}
#Layer1_Container
{
   width: 900px !important;
   height:660px !important;
}
#wb_Image1
{
   left: 0px !important;
   top: 0px !important;
   width: 61px !important;
   height: 61px !important;
   visibility: visible !important;
   display: inline !important;
   margin: 0;
   padding: 0;
}
#wb_CssMenu1
{
   left: 663px !important;
   top: 13px !important;
   visibility: visible !important;
   display: block !important;
   margin: 0;
   text-align: left;
}
#wb_CssMenu1 li
{
   width: 100%;
}
#wb_CssMenu1 a
{
   color: #000000;
   border: 1px solid #0D6EFD;
   border-radius: 0px;
   background-color: #AFEEEE;
   background-image: none;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   text-decoration: none;
   text-transform: none;
   text-align: center;
}
#wb_CssMenu1 > ul > li > a
{
   width: calc(100% - 4px);
   box-sizing: border-box;
   height: 28px;
   padding: 0 5px 0px 5px;
   line-height: 26px;
}
#wb_CssMenu1 li:hover a, #wb_CssMenu1 a:hover
{
   color: #FFFFFF;
   border: 1px solid #0A58CA;
   background-color: #0B5ED7;
   background-image: none;
}
#wb_CssMenu1 li
{
   padding: 0px 0px 0px 0px;
}
#wb_Image2
{
   left: 27px !important;
   top: 93px !important;
   width: 34px !important;
   height: 32px !important;
   visibility: visible !important;
   display: inline !important;
   margin: 0;
   padding: 0;
}
#wb_Image3
{
   left: 802px !important;
   top: 13px !important;
   width: 34px !important;
   height: 34px !important;
   visibility: visible !important;
   display: inline !important;
   margin: 0;
   padding: 0;
}
#HorizontalLine1
{
   left: 0px !important;
   top: 61px !important;
   width: 1260px !important;
   height: 10px !important;
   visibility: visible !important;
   display: inline !important;
   margin: 0;
}
#HorizontalLine1
{
   border-color: #707070;
   border-bottom-width: 10px;
}
#wb_Image4
{
   left: 454px !important;
   top: 180px !important;
   width: 100px !important;
   height: 100px !important;
   visibility: visible !important;
   display: inline !important;
   margin: 0;
   padding: 0;
}
#wb_Text1
{
   left: 440px !important;
   top: 300px !important;
   width: 120px !important;
   height: 18px !important;
   visibility: visible !important;
   display: inline !important;
}
#wb_Text1
{
   margin: 0;
   padding: 0;
}
}
@media only screen and (min-width: 768px) and (max-width: 899px)
{
body
{
   background-color: #FFFFFF;
   background-image: none;
}
#BuildWith1
{
   left: 441px !important;
   top: 967px !important;
   width: 88px !important;
   height: 31px !important;
   visibility: visible !important;
   display: inline !important;
}
#Layer1
{
   visibility: visible !important;
   display: block !important;
}
#Layer1_Container
{
   width: 768px !important;
   height:660px !important;
}
#wb_Image1
{
   left: 0px !important;
   top: 0px !important;
   width: 61px !important;
   height: 61px !important;
   visibility: visible !important;
   display: inline !important;
   margin: 0;
   padding: 0;
}
#wb_CssMenu1
{
   left: 490px !important;
   top: 13px !important;
   visibility: visible !important;
   display: block !important;
   margin: 0;
   text-align: left;
}
#wb_CssMenu1 li
{
   width: 100%;
}
#wb_CssMenu1 a
{
   color: #000000;
   border: 1px solid #0D6EFD;
   border-radius: 0px;
   background-color: #AFEEEE;
   background-image: none;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   text-decoration: none;
   text-transform: none;
   text-align: center;
}
#wb_CssMenu1 > ul > li > a
{
   width: calc(100% - 4px);
   box-sizing: border-box;
   height: 28px;
   padding: 0 5px 0px 5px;
   line-height: 26px;
}
#wb_CssMenu1 li:hover a, #wb_CssMenu1 a:hover
{
   color: #FFFFFF;
   border: 1px solid #0A58CA;
   background-color: #0B5ED7;
   background-image: none;
}
#wb_CssMenu1 li
{
   padding: 0px 0px 0px 0px;
}
#wb_Image2
{
   left: 27px !important;
   top: 93px !important;
   width: 34px !important;
   height: 32px !important;
   visibility: visible !important;
   display: inline !important;
   margin: 0;
   padding: 0;
}
#wb_Image3
{
   left: 630px !important;
   top: 10px !important;
   width: 30px !important;
   height: 30px !important;
   visibility: visible !important;
   display: inline !important;
   margin: 0;
   padding: 0;
}
#HorizontalLine1
{
   left: 0px !important;
   top: 61px !important;
   width: 1260px !important;
   height: 10px !important;
   visibility: visible !important;
   display: inline !important;
   margin: 0;
}
#HorizontalLine1
{
   border-color: #707070;
   border-bottom-width: 10px;
}
#wb_Image4
{
   left: 334px !important;
   top: 190px !important;
   width: 100px !important;
   height: 100px !important;
   visibility: visible !important;
   display: inline !important;
   margin: 0;
   padding: 0;
}
#wb_Text1
{
   left: 334px !important;
   top: 310px !important;
   width: 120px !important;
   height: 18px !important;
   visibility: visible !important;
   display: inline !important;
}
#wb_Text1
{
   margin: 0;
   padding: 0;
}
}
@media only screen and (min-width: 480px) and (max-width: 767px)
{
body
{
   background-color: #FFFFFF;
   background-image: none;
}
#BuildWith1
{
   left: 441px !important;
   top: 967px !important;
   width: 88px !important;
   height: 31px !important;
   visibility: visible !important;
   display: inline !important;
}
#Layer1
{
   visibility: visible !important;
   display: block !important;
}
#Layer1_Container
{
   width: 480px !important;
   height:660px !important;
}
#wb_Image1
{
   left: 0px !important;
   top: 0px !important;
   width: 61px !important;
   height: 61px !important;
   visibility: visible !important;
   display: inline !important;
   margin: 0;
   padding: 0;
}
#wb_CssMenu1
{
   left: 220px !important;
   top: 10px !important;
   visibility: visible !important;
   display: block !important;
   margin: 0;
   text-align: left;
}
#wb_CssMenu1 li
{
   width: 100%;
}
#wb_CssMenu1 a
{
   color: #000000;
   border: 1px solid #0D6EFD;
   border-radius: 0px;
   background-color: #AFEEEE;
   background-image: none;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   text-decoration: none;
   text-transform: none;
   text-align: center;
}
#wb_CssMenu1 > ul > li > a
{
   width: calc(100% - 4px);
   box-sizing: border-box;
   height: 28px;
   padding: 0 5px 0px 5px;
   line-height: 26px;
}
#wb_CssMenu1 li:hover a, #wb_CssMenu1 a:hover
{
   color: #FFFFFF;
   border: 1px solid #0A58CA;
   background-color: #0B5ED7;
   background-image: none;
}
#wb_CssMenu1 li
{
   padding: 0px 0px 0px 0px;
}
#wb_Image2
{
   left: 27px !important;
   top: 93px !important;
   width: 34px !important;
   height: 32px !important;
   visibility: visible !important;
   display: inline !important;
   margin: 0;
   padding: 0;
}
#wb_Image3
{
   left: 370px !important;
   top: 10px !important;
   width: 34px !important;
   height: 34px !important;
   visibility: visible !important;
   display: inline !important;
   margin: 0;
   padding: 0;
}
#HorizontalLine1
{
   left: 0px !important;
   top: 61px !important;
   width: 1529px !important;
   height: 10px !important;
   visibility: visible !important;
   display: inline !important;
   margin: 0;
}
#HorizontalLine1
{
   border-color: #707070;
   border-bottom-width: 10px;
}
#wb_Image4
{
   left: 170px !important;
   top: 170px !important;
   width: 100px !important;
   height: 100px !important;
   visibility: visible !important;
   display: inline !important;
   margin: 0;
   padding: 0;
}
#wb_Text1
{
   left: 160px !important;
   top: 290px !important;
   width: 120px !important;
   height: 18px !important;
   visibility: visible !important;
   display: inline !important;
}
#wb_Text1
{
   margin: 0;
   padding: 0;
}
}
@media only screen and (max-width: 479px)
{
body
{
   background-color: #FFFFFF;
   background-image: none;
}
#BuildWith1
{
   left: 441px !important;
   top: 967px !important;
   width: 88px !important;
   height: 31px !important;
   visibility: visible !important;
   display: inline !important;
}
#Layer1
{
   visibility: visible !important;
   display: block !important;
}
#Layer1_Container
{
   width: 320px !important;
   height:660px !important;
}
#wb_Image1
{
   left: 0px !important;
   top: 0px !important;
   width: 61px !important;
   height: 61px !important;
   visibility: visible !important;
   display: inline !important;
   margin: 0;
   padding: 0;
}
#wb_CssMenu1
{
   left: 80px !important;
   top: 27px !important;
   visibility: visible !important;
   display: block !important;
   margin: 0;
   text-align: left;
}
#wb_CssMenu1 li
{
   width: 100%;
}
#wb_CssMenu1 a
{
   color: #000000;
   border: 1px solid #0D6EFD;
   border-radius: 0px;
   background-color: #AFEEEE;
   background-image: none;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   text-decoration: none;
   text-transform: none;
   text-align: center;
}
#wb_CssMenu1 > ul > li > a
{
   width: calc(100% - 4px);
   box-sizing: border-box;
   height: 28px;
   padding: 0 5px 0px 5px;
   line-height: 26px;
}
#wb_CssMenu1 li:hover a, #wb_CssMenu1 a:hover
{
   color: #FFFFFF;
   border: 1px solid #0A58CA;
   background-color: #0B5ED7;
   background-image: none;
}
#wb_CssMenu1 li
{
   padding: 0px 0px 0px 0px;
}
#wb_Image2
{
   left: 27px !important;
   top: 93px !important;
   width: 34px !important;
   height: 32px !important;
   visibility: visible !important;
   display: inline !important;
   margin: 0;
   padding: 0;
}
#wb_Image3
{
   left: 219px !important;
   top: 27px !important;
   width: 23px !important;
   height: 23px !important;
   visibility: visible !important;
   display: inline !important;
   margin: 0;
   padding: 0;
}
#HorizontalLine1
{
   left: 0px !important;
   top: 61px !important;
   width: 1260px !important;
   height: 10px !important;
   visibility: visible !important;
   display: inline !important;
   margin: 0;
}
#HorizontalLine1
{
   border-color: #707070;
   border-bottom-width: 10px;
}
#wb_Image4
{
   left: 70px !important;
   top: 180px !important;
   width: 100px !important;
   height: 100px !important;
   visibility: visible !important;
   display: inline !important;
   margin: 0;
   padding: 0;
}
#wb_Text1
{
   left: 60px !important;
   top: 310px !important;
   width: 120px !important;
   height: 18px !important;
   visibility: visible !important;
   display: inline !important;
}
#wb_Text1
{
   margin: 0;
   padding: 0;
}
}
