body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#Shape1
{
   border-width: 0;
   vertical-align: top;
}
#Layer1
{
   background-color: #F8F9FA;
   background-image: none;
   border-radius: 0px;
}
#wb_Image1
{
   vertical-align: top;
}
#Image1
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image3
{
   vertical-align: top;
}
#Image3
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#HorizontalLine1
{
   border-color: #707070;
   border-style: solid;
   border-bottom-width: 10px;
   border-top: 0;
   border-left: 0;
   border-right: 0;
   height: 0 !important;
   line-height: 0 !important;
   margin: 0;
   padding: 0;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text1 div
{
   text-align: left;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text2 div
{
   text-align: left;
}
#wb_Text3 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text3 div
{
   text-align: left;
}
#wb_Text4 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text4 div
{
   text-align: left;
}
#wb_Text5 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text5 div
{
   text-align: left;
}
#wb_Text6 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text6 div
{
   text-align: left;
}
#wb_Image2
{
   vertical-align: top;
}
#Image2
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image4
{
   vertical-align: top;
}
#Image4
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
@media only screen and (min-width: 1350px) and (max-width: 1530px)
{
body
{
   background-color: #FFFFFF;
   background-image: none;
}
#wb_Shape1
{
   left: 103px !important;
   top: 177px !important;
   visibility: visible !important;
   display: inline !important;
   margin: 0;
}
#BuildWith1
{
   left: 441px !important;
   top: 967px !important;
   width: 88px !important;
   height: 31px !important;
   visibility: visible !important;
   display: inline !important;
}
#Layer1
{
   visibility: visible !important;
   display: block !important;
}
#Layer1_Container
{
   width: 1350px !important;
   height:670px !important;
}
#wb_Image1
{
   left: 20px !important;
   top: 10px !important;
   width: 61px !important;
   height: 61px !important;
   visibility: visible !important;
   display: inline !important;
   margin: 0;
   padding: 0;
}
#wb_Image3
{
   left: 1180px !important;
   top: 20px !important;
   width: 34px !important;
   height: 34px !important;
   visibility: visible !important;
   display: inline !important;
   margin: 0;
   padding: 0;
}
#HorizontalLine1
{
   left: 0px !important;
   top: 71px !important;
   width: 1520px !important;
   height: 10px !important;
   visibility: visible !important;
   display: inline !important;
   margin: 0;
}
#HorizontalLine1
{
   border-color: #707070;
   border-bottom-width: 10px;
}
#wb_Text1
{
   left: 110px !important;
   top: 38px !important;
   width: 66px !important;
   height: 19px !important;
   visibility: visible !important;
   display: inline !important;
}
#wb_Text1
{
   margin: 0;
   padding: 0;
}
#wb_Text2
{
   left: 110px !important;
   top: 120px !important;
   width: 120px !important;
   height: 19px !important;
   visibility: visible !important;
   display: inline !important;
}
#wb_Text2
{
   margin: 0;
   padding: 0;
}
#wb_Text3
{
   left: 126px !important;
   top: 201px !important;
   width: 104px !important;
   height: 18px !important;
   visibility: visible !important;
   display: inline !important;
}
#wb_Text3
{
   margin: 0;
   padding: 0;
}
#wb_Text4
{
   left: 540px !important;
   top: 201px !important;
   width: 120px !important;
   height: 18px !important;
   visibility: visible !important;
   display: inline !important;
}
#wb_Text4
{
   margin: 0;
   padding: 0;
}
#wb_Text5
{
   left: 1050px !important;
   top: 201px !important;
   width: 40px !important;
   height: 18px !important;
   visibility: visible !important;
   display: inline !important;
}
#wb_Text5
{
   margin: 0;
   padding: 0;
}
#wb_Text6
{
   left: 1110px !important;
   top: 201px !important;
   width: 36px !important;
   height: 18px !important;
   visibility: visible !important;
   display: inline !important;
}
#wb_Text6
{
   margin: 0;
   padding: 0;
}
#wb_Image2
{
   left: 1010px !important;
   top: 195px !important;
   width: 30px !important;
   height: 30px !important;
   visibility: visible !important;
   display: inline !important;
   margin: 0;
   padding: 0;
}
#wb_Image4
{
   left: 1146px !important;
   top: 195px !important;
   width: 24px !important;
   height: 24px !important;
   visibility: visible !important;
   display: inline !important;
   margin: 0;
   padding: 0;
}
}
@media only screen and (min-width: 1100px) and (max-width: 1349px)
{
body
{
   background-color: #FFFFFF;
   background-image: none;
}
#wb_Shape1
{
   left: 103px !important;
   top: 177px !important;
   visibility: visible !important;
   display: inline !important;
   margin: 0;
}
#BuildWith1
{
   left: 441px !important;
   top: 967px !important;
   width: 88px !important;
   height: 31px !important;
   visibility: visible !important;
   display: inline !important;
}
#Layer1
{
   visibility: visible !important;
   display: block !important;
}
#Layer1_Container
{
   width: 1100px !important;
   height:670px !important;
}
#wb_Image1
{
   left: 20px !important;
   top: 10px !important;
   width: 61px !important;
   height: 61px !important;
   visibility: visible !important;
   display: inline !important;
   margin: 0;
   padding: 0;
}
#wb_Image3
{
   left: 980px !important;
   top: 23px !important;
   width: 34px !important;
   height: 34px !important;
   visibility: visible !important;
   display: inline !important;
   margin: 0;
   padding: 0;
}
#HorizontalLine1
{
   left: 0px !important;
   top: 71px !important;
   width: 1520px !important;
   height: 10px !important;
   visibility: visible !important;
   display: inline !important;
   margin: 0;
}
#HorizontalLine1
{
   border-color: #707070;
   border-bottom-width: 10px;
}
#wb_Text1
{
   left: 110px !important;
   top: 38px !important;
   width: 66px !important;
   height: 19px !important;
   visibility: visible !important;
   display: inline !important;
}
#wb_Text1
{
   margin: 0;
   padding: 0;
}
#wb_Text2
{
   left: 110px !important;
   top: 120px !important;
   width: 120px !important;
   height: 19px !important;
   visibility: visible !important;
   display: inline !important;
}
#wb_Text2
{
   margin: 0;
   padding: 0;
}
#wb_Text3
{
   left: 126px !important;
   top: 201px !important;
   width: 104px !important;
   height: 18px !important;
   visibility: visible !important;
   display: inline !important;
}
#wb_Text3
{
   margin: 0;
   padding: 0;
}
#wb_Text4
{
   left: 441px !important;
   top: 201px !important;
   width: 120px !important;
   height: 18px !important;
   visibility: visible !important;
   display: inline !important;
}
#wb_Text4
{
   margin: 0;
   padding: 0;
}
#wb_Text5
{
   left: 747px !important;
   top: 198px !important;
   width: 40px !important;
   height: 18px !important;
   visibility: visible !important;
   display: inline !important;
}
#wb_Text5
{
   margin: 0;
   padding: 0;
}
#wb_Text6
{
   left: 830px !important;
   top: 201px !important;
   width: 36px !important;
   height: 18px !important;
   visibility: visible !important;
   display: inline !important;
}
#wb_Text6
{
   margin: 0;
   padding: 0;
}
#wb_Image2
{
   left: 710px !important;
   top: 192px !important;
   width: 30px !important;
   height: 30px !important;
   visibility: visible !important;
   display: inline !important;
   margin: 0;
   padding: 0;
}
#wb_Image4
{
   left: 866px !important;
   top: 195px !important;
   width: 24px !important;
   height: 24px !important;
   visibility: visible !important;
   display: inline !important;
   margin: 0;
   padding: 0;
}
}
@media only screen and (min-width: 900px) and (max-width: 1099px)
{
body
{
   background-color: #FFFFFF;
   background-image: none;
}
#wb_Shape1
{
   left: 103px !important;
   top: 177px !important;
   visibility: visible !important;
   display: inline !important;
   margin: 0;
}
#BuildWith1
{
   left: 441px !important;
   top: 967px !important;
   width: 88px !important;
   height: 31px !important;
   visibility: visible !important;
   display: inline !important;
}
#Layer1
{
   visibility: visible !important;
   display: block !important;
}
#Layer1_Container
{
   width: 900px !important;
   height:670px !important;
}
#wb_Image1
{
   left: 20px !important;
   top: 10px !important;
   width: 61px !important;
   height: 61px !important;
   visibility: visible !important;
   display: inline !important;
   margin: 0;
   padding: 0;
}
#wb_Image3
{
   left: 789px !important;
   top: 23px !important;
   width: 34px !important;
   height: 34px !important;
   visibility: visible !important;
   display: inline !important;
   margin: 0;
   padding: 0;
}
#HorizontalLine1
{
   left: 0px !important;
   top: 71px !important;
   width: 1520px !important;
   height: 10px !important;
   visibility: visible !important;
   display: inline !important;
   margin: 0;
}
#HorizontalLine1
{
   border-color: #707070;
   border-bottom-width: 10px;
}
#wb_Text1
{
   left: 110px !important;
   top: 38px !important;
   width: 66px !important;
   height: 19px !important;
   visibility: visible !important;
   display: inline !important;
}
#wb_Text1
{
   margin: 0;
   padding: 0;
}
#wb_Text2
{
   left: 110px !important;
   top: 120px !important;
   width: 120px !important;
   height: 19px !important;
   visibility: visible !important;
   display: inline !important;
}
#wb_Text2
{
   margin: 0;
   padding: 0;
}
#wb_Text3
{
   left: 126px !important;
   top: 201px !important;
   width: 104px !important;
   height: 18px !important;
   visibility: visible !important;
   display: inline !important;
}
#wb_Text3
{
   margin: 0;
   padding: 0;
}
#wb_Text4
{
   left: 441px !important;
   top: 201px !important;
   width: 120px !important;
   height: 18px !important;
   visibility: visible !important;
   display: inline !important;
}
#wb_Text4
{
   margin: 0;
   padding: 0;
}
#wb_Text5
{
   left: 747px !important;
   top: 198px !important;
   width: 40px !important;
   height: 18px !important;
   visibility: visible !important;
   display: inline !important;
}
#wb_Text5
{
   margin: 0;
   padding: 0;
}
#wb_Text6
{
   left: 830px !important;
   top: 201px !important;
   width: 36px !important;
   height: 18px !important;
   visibility: visible !important;
   display: inline !important;
}
#wb_Text6
{
   margin: 0;
   padding: 0;
}
#wb_Image2
{
   left: 710px !important;
   top: 192px !important;
   width: 30px !important;
   height: 30px !important;
   visibility: visible !important;
   display: inline !important;
   margin: 0;
   padding: 0;
}
#wb_Image4
{
   left: 866px !important;
   top: 195px !important;
   width: 24px !important;
   height: 24px !important;
   visibility: visible !important;
   display: inline !important;
   margin: 0;
   padding: 0;
}
}
@media only screen and (min-width: 768px) and (max-width: 899px)
{
body
{
   background-color: #FFFFFF;
   background-image: none;
}
#wb_Shape1
{
   left: 110px !important;
   top: 180px !important;
   visibility: visible !important;
   display: inline !important;
   margin: 0;
}
#BuildWith1
{
   left: 441px !important;
   top: 967px !important;
   width: 88px !important;
   height: 31px !important;
   visibility: visible !important;
   display: inline !important;
}
#Layer1
{
   visibility: visible !important;
   display: block !important;
}
#Layer1_Container
{
   width: 768px !important;
   height:670px !important;
}
#wb_Image1
{
   left: 20px !important;
   top: 10px !important;
   width: 61px !important;
   height: 61px !important;
   visibility: visible !important;
   display: inline !important;
   margin: 0;
   padding: 0;
}
#wb_Image3
{
   left: 630px !important;
   top: 23px !important;
   width: 34px !important;
   height: 34px !important;
   visibility: visible !important;
   display: inline !important;
   margin: 0;
   padding: 0;
}
#HorizontalLine1
{
   left: 0px !important;
   top: 71px !important;
   width: 1520px !important;
   height: 10px !important;
   visibility: visible !important;
   display: inline !important;
   margin: 0;
}
#HorizontalLine1
{
   border-color: #707070;
   border-bottom-width: 10px;
}
#wb_Text1
{
   left: 110px !important;
   top: 38px !important;
   width: 66px !important;
   height: 19px !important;
   visibility: visible !important;
   display: inline !important;
}
#wb_Text1
{
   margin: 0;
   padding: 0;
}
#wb_Text2
{
   left: 110px !important;
   top: 120px !important;
   width: 120px !important;
   height: 19px !important;
   visibility: visible !important;
   display: inline !important;
}
#wb_Text2
{
   margin: 0;
   padding: 0;
}
#wb_Text3
{
   left: 126px !important;
   top: 201px !important;
   width: 104px !important;
   height: 18px !important;
   visibility: visible !important;
   display: inline !important;
}
#wb_Text3
{
   margin: 0;
   padding: 0;
}
#wb_Text4
{
   left: 284px !important;
   top: 201px !important;
   width: 120px !important;
   height: 18px !important;
   visibility: visible !important;
   display: inline !important;
}
#wb_Text4
{
   margin: 0;
   padding: 0;
}
#wb_Text5
{
   left: 560px !important;
   top: 198px !important;
   width: 40px !important;
   height: 18px !important;
   visibility: visible !important;
   display: inline !important;
}
#wb_Text5
{
   margin: 0;
   padding: 0;
}
#wb_Text6
{
   left: 610px !important;
   top: 200px !important;
   width: 36px !important;
   height: 18px !important;
   visibility: visible !important;
   display: inline !important;
}
#wb_Text6
{
   margin: 0;
   padding: 0;
}
#wb_Image2
{
   left: 520px !important;
   top: 195px !important;
   width: 30px !important;
   height: 30px !important;
   visibility: visible !important;
   display: inline !important;
   margin: 0;
   padding: 0;
}
#wb_Image4
{
   left: 646px !important;
   top: 195px !important;
   width: 24px !important;
   height: 24px !important;
   visibility: visible !important;
   display: inline !important;
   margin: 0;
   padding: 0;
}
}
@media only screen and (min-width: 480px) and (max-width: 767px)
{
body
{
   background-color: #FFFFFF;
   background-image: none;
}
#wb_Shape1
{
   left: 20px !important;
   top: 180px !important;
   visibility: visible !important;
   display: inline !important;
   margin: 0;
}
#BuildWith1
{
   left: 441px !important;
   top: 967px !important;
   width: 88px !important;
   height: 31px !important;
   visibility: visible !important;
   display: inline !important;
}
#Layer1
{
   visibility: visible !important;
   display: block !important;
}
#Layer1_Container
{
   width: 480px !important;
   height:670px !important;
}
#wb_Image1
{
   left: 20px !important;
   top: 10px !important;
   width: 61px !important;
   height: 61px !important;
   visibility: visible !important;
   display: inline !important;
   margin: 0;
   padding: 0;
}
#wb_Image3
{
   left: 401px !important;
   top: 23px !important;
   width: 34px !important;
   height: 34px !important;
   visibility: visible !important;
   display: inline !important;
   margin: 0;
   padding: 0;
}
#HorizontalLine1
{
   left: 0px !important;
   top: 71px !important;
   width: 1520px !important;
   height: 10px !important;
   visibility: visible !important;
   display: inline !important;
   margin: 0;
}
#HorizontalLine1
{
   border-color: #707070;
   border-bottom-width: 10px;
}
#wb_Text1
{
   left: 90px !important;
   top: 38px !important;
   width: 66px !important;
   height: 19px !important;
   visibility: visible !important;
   display: inline !important;
}
#wb_Text1
{
   margin: 0;
   padding: 0;
}
#wb_Text2
{
   left: 20px !important;
   top: 120px !important;
   width: 120px !important;
   height: 19px !important;
   visibility: visible !important;
   display: inline !important;
}
#wb_Text2
{
   margin: 0;
   padding: 0;
}
#wb_Text3
{
   left: 30px !important;
   top: 200px !important;
   width: 104px !important;
   height: 18px !important;
   visibility: visible !important;
   display: inline !important;
}
#wb_Text3
{
   margin: 0;
   padding: 0;
}
#wb_Text4
{
   left: 144px !important;
   top: 201px !important;
   width: 120px !important;
   height: 18px !important;
   visibility: visible !important;
   display: inline !important;
}
#wb_Text4
{
   margin: 0;
   padding: 0;
}
#wb_Text5
{
   left: 320px !important;
   top: 200px !important;
   width: 40px !important;
   height: 18px !important;
   visibility: visible !important;
   display: inline !important;
}
#wb_Text5
{
   margin: 0;
   padding: 0;
}
#wb_Text6
{
   left: 370px !important;
   top: 200px !important;
   width: 36px !important;
   height: 18px !important;
   visibility: visible !important;
   display: inline !important;
}
#wb_Text6
{
   margin: 0;
   padding: 0;
}
#wb_Image2
{
   left: 280px !important;
   top: 195px !important;
   width: 30px !important;
   height: 30px !important;
   visibility: visible !important;
   display: inline !important;
   margin: 0;
   padding: 0;
}
#wb_Image4
{
   left: 406px !important;
   top: 197px !important;
   width: 24px !important;
   height: 24px !important;
   visibility: visible !important;
   display: inline !important;
   margin: 0;
   padding: 0;
}
}
@media only screen and (max-width: 479px)
{
body
{
   background-color: #FFFFFF;
   background-image: none;
}
#wb_Shape1
{
   left: 0px !important;
   top: 178px !important;
   visibility: visible !important;
   display: inline !important;
   margin: 0;
}
#BuildWith1
{
   left: 441px !important;
   top: 967px !important;
   width: 88px !important;
   height: 31px !important;
   visibility: visible !important;
   display: inline !important;
}
#Layer1
{
   visibility: visible !important;
   display: block !important;
}
#Layer1_Container
{
   width: 320px !important;
   height:670px !important;
}
#wb_Image1
{
   left: 20px !important;
   top: 10px !important;
   width: 61px !important;
   height: 61px !important;
   visibility: visible !important;
   display: inline !important;
   margin: 0;
   padding: 0;
}
#wb_Image3
{
   left: 250px !important;
   top: 23px !important;
   width: 34px !important;
   height: 34px !important;
   visibility: visible !important;
   display: inline !important;
   margin: 0;
   padding: 0;
}
#HorizontalLine1
{
   left: 0px !important;
   top: 71px !important;
   width: 1520px !important;
   height: 10px !important;
   visibility: visible !important;
   display: inline !important;
   margin: 0;
}
#HorizontalLine1
{
   border-color: #707070;
   border-bottom-width: 10px;
}
#wb_Text1
{
   left: 110px !important;
   top: 38px !important;
   width: 66px !important;
   height: 19px !important;
   visibility: visible !important;
   display: inline !important;
}
#wb_Text1
{
   margin: 0;
   padding: 0;
}
#wb_Text2
{
   left: 6px !important;
   top: 120px !important;
   width: 120px !important;
   height: 19px !important;
   visibility: visible !important;
   display: inline !important;
}
#wb_Text2
{
   margin: 0;
   padding: 0;
}
#wb_Text3
{
   left: 14px !important;
   top: 201px !important;
   width: 104px !important;
   height: 18px !important;
   visibility: visible !important;
   display: inline !important;
}
#wb_Text3
{
   margin: 0;
   padding: 0;
}
#wb_Text4
{
   left: 118px !important;
   top: 201px !important;
   width: 122px !important;
   height: 18px !important;
   visibility: visible !important;
   display: inline !important;
}
#wb_Text4
{
   margin: 0;
   padding: 0;
}
#wb_Text5
{
   left: 264px !important;
   top: 201px !important;
   width: 40px !important;
   height: 18px !important;
   visibility: visible !important;
   display: inline !important;
}
#wb_Text5
{
   margin: 0;
   padding: 0;
}
#wb_Text6
{
   left: 304px !important;
   top: 201px !important;
   width: 36px !important;
   height: 18px !important;
   visibility: visible !important;
   display: inline !important;
}
#wb_Text6
{
   margin: 0;
   padding: 0;
}
#wb_Image2
{
   left: 240px !important;
   top: 198px !important;
   width: 24px !important;
   height: 24px !important;
   visibility: visible !important;
   display: inline !important;
   margin: 0;
   padding: 0;
}
#wb_Image4
{
   left: 340px !important;
   top: 197px !important;
   width: 22px !important;
   height: 22px !important;
   visibility: visible !important;
   display: inline !important;
   margin: 0;
   padding: 0;
}
}
